.App {
  padding: 0px 20px;
  height: 100px;
  padding: 30px;
}
body {
  background-color: rgb(44, 10, 239);
  padding: 10px;
  color: white;
}
.lists {
  display: flex;
  flex-direction: column;
}

button {
  background-color: white;
  border: 1px solid;
  border-radius: 5%;
  padding: 10px 20px;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 10px;
  text-transform: capitalize;
  height: 40px;
}

button:hover {
  border: 1px solid black;
}

input {
  width: 150px;
  padding: 5px;
}

span {
  font-size: 18px;
  font-weight: bold;
}

.info > div {
  padding: 5px;
  font-size: 16px;
}

.info {
  border-top: 1px solid gray;
  margin-top: 5%;
}
